---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ToolSection from "../components/ToolSection.astro";
import { SECTIONS, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="fr">
    <head>
        <BaseHead title={`${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    </head>
    <body
        class="flex flex-col min-h-screen bg-[rgb(var(--bg))] text-[rgb(var(--text))] font-mono"
    >
        <Header />

        <main
            class="flex-grow flex flex-col items-center text-center animate-fadeIn"
        >
            <div class="max-w-6xl w-full">
                <div class="my-10">
                    {
                        SECTIONS.map((section) => (
                            <ToolSection
                                title={section.title}
                                tools={section.tools}
                            />
                        ))
                    }
                </div>
            </div>
        </main>

        <Footer />
    </body>
</html>
