---
import ToolCard from "./ToolCard.astro";

export interface Props {
    title: string;
    tools: {
        icon: string;
        name: string;
        description: string;
    }[];
}

const { title, tools } = Astro.props;
const isOddNumber = tools.length % 2 !== 0;
---

<section class="mb-24 w-full flex flex-col items-center">
    <h2
        class="text-3xl font-semibold mb-12 text-[rgb(var(--accent))] tracking-tight text-center drop-shadow-[0_0_10px_rgba(var(--accent),0.6)]"
    >
        {title}
    </h2>

    <div
        class:list={[
            "mt-5",
            "grid gap-6 w-full max-w-4xl",
            "md:grid-cols-1",
            "lg:grid-cols-2",
            isOddNumber &&
                "lg:[&>*:last-child]:col-span-2 lg:[&>*:last-child]:max-w-md lg:[&>*:last-child]:mx-auto",
        ]}
    >
        {tools.map((tool) => <ToolCard {...tool} />)}
    </div>
</section>
